/* GLOBAL */

body {
    background-color: #ccc;
}

.button {
    background-color: #7b003f;
}

.yellow_button {
    background-color: #ed9801 !important;
}

input[type="checkbox"] {
    width: 42px;
    height: 42px;
    align-self: flex-start;
}

#tech_portal_container {
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 40px #8c8c8c;
}

#tech_portal_container.logged_out #logged_in_header, #tech_portal_container.logged_in #logged_out_header {
    display: none;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CHANGE BY AINSLEY*/

#message-container {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    display: none;
}

#message {
    width: 95%;
    min-height: 50%;
    background-color: grey;
    margin: auto;
    padding: 2em;
    box-sizing: border-box;
    opacity: .9;
    display: flex;
    border: .2em solid black;
    border-radius: .2em;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3em;
}

/*END CHANGE BY AINSLEY*/

/* HEADER */

header {
    height: auto;
    padding: 0px;
    background-color: white;
}

header > *, header > * > * {
    display: flex;
}

#logged_out_header {
    width: 100%;
    background-color: #7b0041;
    justify-content: flex-end;
}

#sign_up {
    height: 80px;
    border-left: 1px solid white;
    padding: 20px;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#logged_in_header {
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 4px solid #7b003f;
    position: relative;
}

#logged_in_header > div {
    align-items: center;
}

#tech_name {
    color: #52012c;
    font-size: 22px;
    margin-right: 20px;
}

#tech_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#tech_icon {
    height: 60px;
    width: 60px;
    border: 1px solid #d3bfca;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#tech_icon > img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 7px;
    width: auto;
    height: auto;
}

#tech_nav > img {
    width: 10px;
    height: auto;
}

/* MODULES */

.module-header {
    background-color: #52012c;
}

.check_icon_solid {
    margin-left: 20px;
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

/* LOGIN PAGE */

#login_heading {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    font-size: 22px;
    width: 100%;
    min-height: 1px;
}

#login_heading > div {
    width: 100%;
    text-align: center;
}

#login_heading img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 1px;
}

#login_form_container {
    border-top: 8px solid #52012c;
    box-shadow: 0px 4px 8px #e9e9e9;
    padding: 40px 20px;
    justify-content: center;
    max-width: 500px;
}

#login_form {
    flex-direction: column;
    width: 320px;
    display: flex;
}

#login_form > * {
    width: 100%;
}

#login_form > input:not(.button), #login_form > a {
    margin-bottom: 20px;
}

#login_form > div {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#login_form > div > input {
    height: 20px;
    width: 20px;
}

#login_form > div > label {
    margin-bottom: 0;
    margin-left: 10px;
    height: 20px;
}

/* PAGE HEADING */

#page_heading {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px 0;
    align-items: center;
}

#page_heading > img {
    margin-right: 20px;
}

#page_heading > div {
    flex-direction: column;
}

#page_heading > div > h1 {
    font-size: 34px;
    font-weight: bold;
    color: #8e1651;
    margin-bottom: 2px;
}

#page_heading > div > div {
    font-size: 22px;
}

/* PROFILE SETTINGS */

#profile_modules {
    flex-direction: column;
}

#profile_modules .module:last-child {
    margin-bottom: 0;
}

#profile_modules .button {
    font-size: 18px;
}

#profile_settings .module-body {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#personal_info .module-body {
    border-bottom: 0;
}

#personal_info .module-body > div {
    width: 33%;
    height: 90px;
    padding: 10px;
    flex-direction: column;
}

#update_personal {
    background-color: #f6f6f6;
    border: 1px solid #d7d7d7;
    border-top: 0;
    padding: 0px 20px 20px 20px;
    justify-content: flex-end;
    display: flex;
}

#change_password .module-body {
    justify-content: flex-start;
}

#change_password .module-body > div, #current_password {
    width: 235px;
    max-width: 235px;
    height: 90px;
    padding: 10px;
    flex-direction: column;
}

#change_password .module-body > #current_pass_container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#current_password > * {
    width: 100%;
}

#change_password .module-body #update_password {
    height: auto;
}

/* APPOINTMENTS / LANDING */

#appointments {
    width: 100%;
    max-width: 660px;
    flex-direction: column;
}

#appointments * {
    width: 100%;
    display: flex;
}

#appointments img {
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}

#week_tabs {
    position: relative;
    bottom: -1px;
}

#week_tabs > * {
    height: 50px;
    padding: 10px 20px;
    align-items: center;
    width: auto;
    border-bottom: 1px solid #cfcfcf;
    color: #ccc;
    cursor: pointer;
}

#week_tabs > *.selected_tab {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-top: 4px solid #52012c;
    border-bottom: 1px solid white;
    color: #52012c;
}

#week_tabs img {
    margin-right: 10px;
}

#appointment_list {
    padding: 20px;
    flex-direction: column;
    border: 1px solid #cfcfcf;
}

#appointment_list .appointment_day {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#appointment_list .day_heading {
    text-transform: uppercase;
    border-bottom: 1px solid #cfcfcf;
    color: #656565;
    padding: 10px 0px;
    margin-bottom: 10px;
}

#appointment_list .appointment {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    color: #333;
}

#appointment_list .appointment > * {
    margin-top: 10px;
}

#appointment_list .appointment img {
    margin-right: 20px;
}

#appointment_list .appointment:last-child {
    margin-bottom: 20px;
}

#appointment_list .appointment_datetime {
    color: #7b003f;
}

#appointment_list .appointment_date {
    width: auto;
}

#appointment_list .hyphen_divider {
    width: 20px;
    justify-content: center;
}

#appointment_list .appointment_time {
    width: 100px;
    justify-content: flex-end;
}

#appointment_list .appointment_customer_info {
    padding: 0 20px;
}

/* CALL / APPOINTMENT DETAILS */

#appointment_overview {
    background-color: #f2f2f2;
    border: 1px solid #d7d7d7;
    border-top: 0;
    margin-bottom: 20px;
    padding: 20px 20px 0px 20px;
    align-items: flex-end;
    font-weight: 900;
    flex-wrap: wrap;
}

#appointment_overview > * {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    font-size: 14px;
}

#appointment_overview > div.left {
    font-size: 28px;
    margin-right: 20px;
}

#appointment_overview #overview_appointment_type {
    color: #7a0240;
}

#appointment_overview > div.right > div:nth-child(2) {
    margin-left: 20px;
}

#appointment_overview .overview_heading {
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#appointment_overview #overview_datetime {
    color: #51002d;
}

#call_modules {
    flex-direction: column;
}

#call_modules .module:last-child {
    margin-bottom: 0;
}

/* CUSTOMER INFO */

#customer_info .module-body {
    flex-direction: row;
    flex-wrap: wrap;
}

#customer_info .customer_info {
    width: 33.3%;
    height: 90px;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
}

#customer_info .customer_info.half {
    width: 50%;
}

#customer_info .customer_info.quarter {
    width: 25%;
}

#customer_info .customer_info.eighth {
    width: 12.5%;
}

#customer_info #two_way, #customer_info #adc_video {
    justify-content: flex-start;
}

/* TECH STATUS */

#status_text {
    color: #82c815;
    font-size: 18px;
}

#tech_status .module-body {
    flex-wrap: wrap;
}

#tech_status .module-body > * {
    justify-content: center;
    width: 235px;
    padding: 10px;
}

#tech_status input {
    width: 145px;
    cursor: pointer;
}

#tech_status input[type='radio'] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/* CELL SERVICES */

#adc-serial {
    width: 50%;
}

/* ZONE LIST */

#zone-list .zone-existing {
    width: 7%;
    padding: 0px 10px;
}

#zone-list input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#zone_buttons {
    background-color: #f6f6f6;
    padding: 10px 20px 20px 20px;
    border: 1px solid #d7d7d7;
    border-top: 0;
    justify-content: flex-end;
}

#zone_buttons #edit_zones {
    margin-right: 20px;
}

#zone_buttons #add_zone {

}

#call_for_survey {
    background-color: #c1c1c1;
}

#call_for_survey.all-zones-tested {
    background-color: #196a25;
    color: white;
}

/* INSTALL INFO */

#install_info .module-body {
    flex-direction: row;
    flex-wrap: wrap;
}

#install_info .module-body > * {
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 10px;
}

/* SERVICE NOTES*/

#service_notes .module-body {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#service_notes .module-body label {
    margin-bottom: 20px;
}

#service_notes .module-body textarea {
    width: 100%;
    margin-bottom: 20px;
    height: 150px;
    resize: vertical;
}

#service_notes .module-body .button {
    text-align: center;
    align-self: flex-end;
}

/* MEDIA QUERIES */

@media (max-width: 767px) {

    header img, footer img {
        max-height: 60px;
    }

}

@media (max-width: 700px) {

    #appointment_overview > * {
        justify-content: flex-start;
    }

    #appointment_overview > div.left {
        font-size: 22px;
    }

    #appointment_overview > div.left img {
        width: 75px;
    }

}

@media (max-width: 600px) {

    #tech_name {
        font-size: 16px;
    }

    #personal_info .module-body > div {
        width: 50%;
    }

    #appointment_list .appointment {
        font-size: 16px;
    }

    #appointment_list .appointment_time {
        width: 72px;
    }

    #customer_info .customer_info, #customer_info .customer_info.half, #customer_info .customer_info.quarter, #customer_info .customer_info.eighth {
        width: 50%;
    }

}

@media (max-width: 548px) {

    #change_password .module-body > div, #current_password {
        width: 100%;
        max-width: 100%;
    }

    #appointment_list .appointment {
        flex-wrap: wrap;
    }

    #appointment_list .appointment img {
        margin-right: 10px;
    }

    #appointment_list .appointment_datetime {
        width: auto;
    }

    #appointment_list .appointment_customer_info {
        width: 100%;
        padding: 0;
    }

}

@media (max-width: 480px) {

    #sign_up {
        font-size: 20px;
    }

    #login_form_container {
        padding: 40px 20px;
    }

    header img, footer img {
        max-height: 40px;
    }

    #tech_name {
        display: none;
    }

    #tech_icon {
        height: 40px;
        width: 40px;
        margin-right: 10px;
    }

    #dropdown_nav {
        top: 60px;
    }

    #page_heading > img {
        max-width: 75px;
    }

    #page_heading > div > h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    #page_heading > div > div {
        font-size: 14px;
    }

    #personal_info .module-body > div {
        width: 100%;
    }

    #customer_info .customer_info, #customer_info .customer_info.half, #customer_info .customer_info.quarter, #customer_info .customer_info.eighth {
        width: 100%;
    }

    #appointment_overview > div.left {
        width: 100%;
    }

    #appointment_overview > div.right {
        flex-direction: column;
        align-items: flex-start;
    }

    #appointment_overview > div.right > div:nth-child(2) {
        margin-left: 0;
        margin-top: 20px;
    }

    #adc-serial {
        width: 100%;
    }

    #install_info .module-body > * {
        width: 100%;
    }

    #zone_buttons #edit_zones {
        margin-right: 0px;
        margin-bottom: 20px;
    }

}
